/* footer */
footer{
	background: #333333;
	color: white;
	width: 100%;
	padding: 50px 100px;
	margin-top: 30px;
}
.f-contact{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-bottom: 1px solid rgba(165, 159, 159, 0.2);
}
.f-contact>div{
	flex-basis:20%;
}
.f-contact h1{
    text-align: left;
}
.f-contact p{
	font-size: 20px;
	color: grey;	
	cursor: pointer;
    text-align: left;
}
.f-contact p:hover{
	color: white;
}

.f-contact ul{
	font-size: 21px;
}
