
/* Style for table */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  table {
    width: 1000px;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table thead tr {
    background-color: #4CAF50;
    color: #fff;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  table th {
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 16px;
    margin: 0 10px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  a {
    text-decoration: none;
    color: #fdf9f9;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  